  <h1>Event: <%= event.name%></h1>

  <h3>Minimum group size: <%= event.minGroupSize%></h3>
  <h3>Minimum group size: <%= event.maxGroupSize%></h3>

  <a href="<%= event.url%>">See details</a>

  <a href="/events">Go back to events page</a>
