<%- include("./partials/header") %>
  <div class="container">
    <h1 class="display-4">Welcome to <strong>group'd!</strong></h1>
    <ul>
      <li><a href="/login">Login to your account</a></li>
      <li><a href="/register">Register for an account</a></li>
    </ul>
  </div>

<%- include("./partials/footer") %>
