meter {
    margin-top: 10px;
    width: 100%;
    height: 1.0em;
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { 
    background: red; 
}

meter[value="2"]::-webkit-meter-optimum-value { 
    background: orange; 
}

meter[value="3"]::-webkit-meter-optimum-value { 
    background: yellow; 
}

meter[value="4"]::-webkit-meter-optimum-value { 
    background: green; 
}

#strengthText {
    color: red;
    font-size: 15px;
}

#confirmText {
    margin-top: 10px;
    color: red;
    font-size: 15px;
}

nav {
    background: linear-gradient(90deg,#d5445c 0,#d5445c 10%,#20acd6 90%,#20acd6);
}
/* 
html, body {
    margin: 0;
    height: 100%;
} */

.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 1;
    animation: imageAnimation 25s linear infinite; 
}

.slideshow li:nth-child(1) { 
    background-image: url(https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1663&q=80)
}
.slideshow li:nth-child(2) { 
    background-image: url(https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    animation-delay: 5s; 
}
.slideshow li:nth-child(3) { 
    background-image: url(https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    animation-delay: 10s; 
}
.slideshow li:nth-child(4) { 
    background-image: url(https://images.unsplash.com/photo-1532619031801-97b02fb2de1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    animation-delay: 15s; 
}
.slideshow li:nth-child(5) { 
    background-image: url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80);
    animation-delay: 20s; 
}

@keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 0.7;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 0.7
    }
    30% {
      opacity: 0
    }
}

#landing-header {
    z-index: 2;
    position: relative;
    text-align: center;
    padding-top: 20vh;
}

.alert {
    z-index: 3
}

