meter {
    margin-top: 10px;
    width: 100%;
    height: 1.0em;
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { 
    background: red; 
}

meter[value="2"]::-webkit-meter-optimum-value { 
    background: orange; 
}

meter[value="3"]::-webkit-meter-optimum-value { 
    background: yellow; 
}

meter[value="4"]::-webkit-meter-optimum-value { 
    background: green; 
}

#strengthText {
    color: red;
    font-size: 15px;
}

#confirmText {
    margin-top: 10px;
    color: red;
    font-size: 15px;
}