/* Password strength checker + confirm password */
meter {
    margin-top: 10px;
    width: 100%;
    height: 1.0em;
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

meter[value="1"]::-webkit-meter-optimum-value {
    background: #d5445c;
}

meter[value="2"]::-webkit-meter-optimum-value {
    background: orange;
}

meter[value="3"]::-webkit-meter-optimum-value {
    background: yellow;
}

meter[value="4"]::-webkit-meter-optimum-value {
    background: green;
}

#strengthText {
    color: #d5445c;
    font-size: 15px;
}

#confirmText {
    margin-top: 10px;
    color: #d5445c;
    font-size: 15px;
}

/* Navbar */
nav {
    background: linear-gradient(90deg,#d5445c 0,#d5445c 10%,#20acd6 90%,#20acd6);
}
/*
html, body {
    margin: 0;
    height: 100%;
} */

#logo {
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    color: white;
    text-shadow:
        0 1px #20acd6,
        -1px 0 #20acd6,
        -1px 2px #20acd6,
        -2px 1px #20acd6,
        -2px 3px #20acd6,
        -3px 2px #20acd6;
}

/* Landing page */
.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(to bottom, #d5445c 0,#d5445c 10%,#20acd6 90%,#20acd6) */
}
.slideshow li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 1;
    animation: imageAnimation 25s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url(https://images.unsplash.com/photo-1521737604893-d14cc237f11d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1663&q=80)
}
.slideshow li:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    animation-delay: 5s;
}
.slideshow li:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1523240795612-9a054b0db644?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    animation-delay: 10s;
}
.slideshow li:nth-child(4) {
    background-image: url(https://images.unsplash.com/photo-1532619031801-97b02fb2de1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);
    animation-delay: 15s;
}
.slideshow li:nth-child(5) {
    background-image: url(https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80);
    animation-delay: 20s;
}

@keyframes imageAnimation {
    0% {
      opacity: 0;
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 0.7;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 0.7
    }
    30% {
      opacity: 0
    }
}

#landing-header {
    z-index: 2;
    position: relative;
    text-align: center;
    padding-top: 20vh;
}

#landingPageTitle {
    font-family: 'Pacifico', cursive;
    font-size: 27vw;
    color: #202c2d;
    text-align: right;
    text-shadow:
        0 1px #d5445c,
        -1px 0 #20acd6,
        -1px 2px #d5445c,
        -2px 1px #20acd6,
        -2px 3px #d5445c,
        -3px 2px #20acd6,
        -3px 4px #d5445c,
        -4px 3px #20acd6,
        -4px 5px #d5445c,
        -5px 4px #20acd6,
        -5px 6px #d5445c,
        -6px 5px #20acd6,
        -6px 7px #d5445c,
        -7px 6px #20acd6,
        -7px 8px #d5445c,
        -8px 7px #20acd6,
        0 1px 0px #d5445c;
}

#landingPageButtons {
    float: right;
    position: relative;
    z-index: 99;
    margin-right: 10%;
    margin-top: 0;
    padding-top: 0;
    height: 100%;
}

@media (max-width: 575.98px) { 
    .landingPageButton {
        opacity: 0.7;
        color: #3D4849;
        font-size: 1vw;
        /* background-image: linear-gradient(90deg,#d5445c 0,#d5445c 10%,#20acd6 90%,#20acd6); */
    }
 }


@media (max-width: 991.98px) { 
    .landingPageButton {
        opacity: 0.7;
        color: #3D4849;
        font-size: 2vw;
        /* background-image: linear-gradient(90deg,#d5445c 0,#d5445c 10%,#20acd6 90%,#20acd6); */
    }
}

.landingPageButton {
    opacity: 0.7;
    color: #3D4849;
    font-size: 2vw;
    /* background-image: linear-gradient(90deg,#d5445c 0,#d5445c 10%,#20acd6 90%,#20acd6); */
}

.landingPageButton:hover {
    color: white;
}

/* Group navbar */
.list-group-item.active {
  background-color: #20acd6;
  border-color: #20acd6;
}

/* User navbar */
.dropdown-item:focus {
  background-color: #20acd6;
  border-color: #20acd6;
}

/* General */
body {
    font-family: 'Karla', sans-serif;
}

.alert {
    z-index: 3;
}

.btnBlue {
    background-color: #20acd6;
}

.btnRed {
    background-color: #d5445c;
}

.textBlue {
    color: #20acd6;
}

.textRed {
    color: #d5445c;
}

.jumbotronBackground {
    background-color:#f4f4f4; 
    background-image: url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80); 
    background-position: top right; 
    background-size: contain; 
    background-repeat: no-repeat;
}